@import "tailwindcss";

@plugin "daisyui" {
  themes: light;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);
}

@layer utilities {
  .blue-circle-icon {
    @apply bg-blue-600 rounded-full w-9 h-9 flex shrink-0 text-white items-center justify-center shadow-sm;
  }
.blue-circle-icon-ghost {
    @apply border border-blue-400 rounded-full w-9 h-9 flex shrink-0  items-center justify-center;
    
  }

  .user-box {
    @apply w-full flex  items-center justify-between p-5  rounded-sm hover:border-blue-500 hover:border  shadow hover:bg-gray-200;
  }

  .user-role {
    @apply font-poppins font-bold text-gray-900 text-sm ;
  }

  
  .mybtn{
    @apply cursor-pointer mt-4 flex w-full lg:w-1/3 items-center justify-center gap-2 rounded-md bg-blue-600 py-3 text-sm font-semibold text-white transition hover:bg-blue-700
   }

   /* app/globals.css */

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}




body {
  background: var(--background) !important;
  color: var(--foreground) !important;
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui;
}